<div class="card-category mb-5" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path("ene1h2hawirsecw4yhxf") %>'); height: 400px;">
  <%= page_title %>
</div>

<%# <%= cl_image_tag(, height: 11em, crop: :fill), class: "card-category mb-5" %>

<%# list&.photo.attached? ? cl_image_path(list.photo.key) : %>
